* {
  margin: 0;
}

.about-nav {
  position: relative;
}

.about-train {
  width: 50%;
  position: absolute;
  bottom: 27%;
  left: 25%;
}

.about-nav-link {
  width: 100%;
  position: absolute;
  font-size: 1em;
  bottom: calc(23% + 2px);
  color: white;
  display: flex;
  justify-content: space-around;
}