.devjams-card--dark {
  background-color: #181a6d;
  opacity: 0.95;
}

.devjams-card--light {
  background-color: white;
  opacity: 0.95;
}

.mouse--light {
  stroke: #474747;
}

.mouse--dark {
  stroke: white;
}
