@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.events-container {
  @apply sm:w-11/12 mx-auto mt-10 grid gap-6 md:grid-cols-2 lg:grid-cols-3 mb-10 auto-rows-10;
}

.event {
  @apply grid place-content-center bg-red-50 text-red-500 font-bold rounded-md;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
