@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply text-xl lg:text-lg z-30 font-bold opacity-50;
}

.nav-link-active {
  @apply border-b-4 border-blue-400 opacity-100 cursor-default;
}

.nav-link-small {
  @apply text-black font-sora cursor-pointer font-semibold;
}

.content-container {
  @apply grid gap-4 py-5 px-7 text-xs text-center sm:text-sm sm:text-left relative z-10;
}

.grid-btn {
  @apply font-bold my-4 w-full py-3 rounded-md text-sm;
}

.animate-obj {
  @apply h-full absolute left-0 origin-center;
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
